* {
  box-sizing: border-box;
}

body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  font-family: 'Righteous', cursive;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  background-color: black;
}


.cell {
  background-color: black;
  width: 4%;
  height: 4%;
  border: 1px solid black;
  color: white;
}

.wrap {
  background-color: black;
}

.pacmanup {
  background-image: url('../images/pacmanup.png');
  background-size: contain;
}

.pacmandown {
  background-image: url('../images/pacmandown.png');
  background-size: contain;
}

.pacmanleft {
  background-image: url('../images/pacmanleft.png');
  background-size: contain;
}

.pacmanright {
  background-image: url('../images/pacmanright.png');
  background-size: contain;
}

.pacmanclosed {
  background-color: yellow;
  border-radius: 100%;
}

.pacman {
  background-color:yellow;
  border-radius: 100%;
}

.wall {
  background-color: rgb(22, 13, 77);
  border: 1px solid blue;
  border-radius: 20%;
}

.blank {
  background-color: black;
}

.smalldot {
  background-image: url('../images/smalldot.png');
  background-size: contain;
  background-color: black;
}

.bigdot {
  background-image: url('../images/bigdot.png');
  background-size: contain;
  background-color: black;
}

.door {
  background-color: white;
  border: 1px solid white;
}

header {
  text-align: center;
}

button {
  margin-bottom: 20px;
}

.pinky {
  background-image: url('../images/pinky.png');
  background-size: contain;
}

.blueboy {
  background-image: url('../images/blueboy.png');
  background-size: contain;
}

.greeny {
  background-image: url('../images/greeny.png');
  background-size: contain;
}

.clyde {
  background-image: url('../images/clyde.png');
  background-size: contain;
}

.scared {
  background-image: url('../images/scared.png');
  background-size: contain;
}

h1 {
  color: yellow;
  font-size: 100px;
  margin: 0px 0px
}

h3 {
  color: yellow;
  margin-top: 0px;
}

.wallEnd {
  background-color: rgb(22, 13, 77);
  border: 1px solid white;
  border-radius: 20%;
}

.gameOver {
  display: none;
}

